<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://kit.fontawesome.com/f5f301974d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


    @*<script src="~/Content/productDetail.js" crossorigin="anonymous"></script>*@

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("DIZDAR E-Ticaret", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse" style="float: left">
                <ul class="nav navbar-nav">

                    @Html.Action("GetMenu", "Home")

                </ul>
            </div>

            <div style="float:right;color:white">
                @{
                    if (Session["LoginUser"] == null)
                    {
                        <a href="/Uye-Giris">Üye Giriş</a>
                        <a href="/Uye-Kayit">Üye OL</a>
                    }
                    else
                    {
                        var user = Session["LoginUser"] as And.Eticaret.Core.Model.Entity.User;

                        <p>Merhaba @user.Name</p>
                        <a href="/UyeBilgi">Profilim |</a>
                        <a href="/Sepetim">Sepetim |</a>
                        <a href="/Siparislerim">Siparişlerim</a>
                        <a href="#">Çıkış</a>
                    }
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div>
            @Html.MvcSiteMap().SiteMapPath()
        </div>
        @RenderBody()

    </div>
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    @RenderSection("script", false)
</body>
</html>
